body {
    font-family: Arial;
    text-align: center;
    background: #fff5f5;
}

h1 {
    color: #b30000;
}

button {
    padding: 12px 20px;
    margin: 10px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
}
.login-box {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    background: white;
    box-shadow: 0 5px 20px #ccc;
    border-radius: 10px;
}

.login-box input {
    display: block;
    width: 90%;
    padding: 12px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 97%;
}